<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">			
			<div class="sb-sidenav-menu-heading">&nbsp;</div>
			<a class="nav-link" href="voucher.html">
				<div class="sb-nav-link-icon"><i class="fas fa-ticket"></i></div>
				Voucher
			</a>
			<a class="nav-link" href="coupon.html">
				<div class="sb-nav-link-icon"><i class="fas fa-ticket-simple"></i></div>
				Coupon
			</a>
			<a class="nav-link" href="museum.html">
				<div class="sb-nav-link-icon"><i class="fas fa-paint-brush"></i></div>
				Museum
			</a>
			<a class="nav-link" href="game.html">
				<div class="sb-nav-link-icon"><i class="fas fa-wrench"></i></div>
				Game Config
			</a>
			<a class="nav-link" href="play.html">
				<div class="sb-nav-link-icon"><i class="fas fa-gamepad"></i></div>
				Play Session
			</a>
		</div>
	</div>
	<div class="sb-sidenav-footer">
		<div class="small">Logged in as:</div>
		Admin<br/><small></small>
	</div>
</nav>